body{
  background: #0e0e0e;
  font-family:Proxima Nova;
}
.container{
  background: #262626;
}
.movie-detail-section{
      margin-top: 100px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.display-3{
  font-size: 20px;
  font-weight: bold;
}
.movie-date{
  font-size: 13px;
}
.watched{
  text-transform: none;
}
.heading{
  font-weight:bold;
  font-size:15px;
  margin-bottom: 12px;
  color: #FFF;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.movie-img{
  display:block;
  margin:auto;
  border:3px solid rgba(128, 128, 128, 0.68);
  border-radius: 3px;
  height:100%;
}
.movie-img img{
  width: 100%;
  height: 100%;
  max-width:249px;
}
.jumbotron{
  border-radius:0;
}
.rating{
  font-weight: bold;
  color:#FFF;
}
.movies-list{
  border: 3px solid rgba(128, 128, 128, 0.68);
  height: 200px;
  width: 100%;
  border-radius: 3px;
}
.movie-detail-text{
  background: #212121;
  color:#FFF;
  height:100%;
}
.lead, .movie-date, .ratings{
  color:#575757
}
.btn-secondary{
  text-transform: none;
}
.no-results, .no-movie-found{
  color: rgba(255, 0, 0, 0.69);
  padding-top: 15px;
}
.watch-card{
  margin: 10px 0 10px 0;
  position:relative;
  overflow:hidden;
}
.unwatch{
  position: absolute;
  left: -65px;
  top: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-position: 0px 40px;
  background-size: 40px 40px;
  background-image: url(/images/download.png);
}
.info{
  position: absolute;
  right: -55px;
  top: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-position: 0px 40px;
  background-size: 40px 40px;
  background-image: url(/images/info.png);
}
.up-vote{
  position: absolute;
  left: -65px;
  bottom: 0px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-position: 0px 40px;
  background-size: 80px 40px;
  background-image: url(/images/vote.png);
}
.down-vote{
  position: absolute;
  right: -65px;
  bottom: 0px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-position: 40px 40px;
  background-size: 80px 40px;
  background-image: url(/images/vote.png);
}
.up-voted{
  left: 15px;
}
.down-voted{
  right:15px;
}
.up-vote, .down-vote, .unwatch, .info {
  animation: voting-img infinite 1s linear;
  height: 40px;
}
@keyframes voting-img {
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(10deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-10deg);
  }
  100%{
    transform: rotate(0deg);
  }
  /*from { transform: rotate(0deg); }
  to { transform: rotate(45deg); }*/
}
.watch-card:hover .up-vote{
  left: 15px;
}

.watch-card:hover .down-vote{
  right: 15px;
}

.watch-card:hover .unwatch{
  left: 17px;
}
.watch-card:hover .info{
  right: 17px;
}
.watch-card:hover img{
  opacity:0.3;
}
.navbar{
      background-color: #6b7882 !important;
}
.navbar a{
  color:#FFF !important;
}
.movie-detail-loading{
  margin-top: 100px;
}
.details-loading{
  position:relative;
}
.loading-img, .loading-title, .loading-date, .loading-rate, .loading-rate-2, .loading-desc, .loading-desc-text div, .watch-btn{
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name:loading;
  animation-timing-function: linear;
  background: #262626 !important;
  background-size: 100% 10px;
  background:linear-gradient(to right, #EEE 30%, #DDD 60%, #EEE 90%) !important;
  animation-duration: 2s;
}

.loading-img{
  border:3px solid rgba(128, 128, 128, 0.68);
  border-radius: 3px;
  height: 374px;
  width:249px;
}
.loading-title{
  height: 20px;
  width:200px;
  top:0;
}
.loading-date{
  height: 15px;
  width:100px;
}
.loading-rate{
  height: 15px;
  width:50px;
  clear:both;
}
.loading-rate-2{
  height: 15px;
  width:50px;
  clear:both;
}
.loading-desc{
  height: 20px;
  width:150px;
}
.watch-btn{
  height: 40px;
  width:100%;
}
.loading-desc-text div{
  margin-top:10px;
  height: 10px;
  width:60%;
}
.loading-desc-text div:nth-child(2){
  width:100%;
}
.loading-desc-text div:nth-child(3){
  width:30%;
}

@keyframes loading {
  0%{
    background-position: -500px 0;
  }
  100%{
    background-position: 500px 0;
  }
}
